<h1 class="splash-head">Hello and Welcome!</h1>
<p class="splash-subhead">
    Let's get started. Here is where we will log in to this app using OAuth2.
</p>
<p>
  <a href="<%= gitHubOauthUrl %>" class="pure-button github">Log In with GitHub</a>
</p>
